<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <!--QQ任务 监控群    群号-群名  群名可不写  可不写  -  群名用来备注-->
    <add key="QQTaskGroup" value="12345678-群名,123123123-群名" />
    
    
    <!--复读机 全部群-->
    <!--随机图片地址-->
    <add key="RandomPicPath" value="C:\Users\fenglindubu\Desktop\RandomPic" />
    
  </appSettings>
  
</configuration>